#loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center items horizontally */
  height: 100vh; /* Full height of the viewport */
  background-color: #000000; /* Optional: background color */
}
  
.loading-logo img {
  width: 60px; /* Fixed size for the logo */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Space below the logo */
}

/* Container for the progress bar */
.progress-bar {
  position: relative;
  width: 80%;
  max-width: 500px;
  height: 4px;
  background: #000000;
  overflow: hidden;
}

.progress {
  height: 80%;
  background: linear-gradient(
      to right, 
      rgba(0, 204, 255, 0.100) 0%, 
      rgba(0, 204, 255, 0.200) 20%, 
      rgba(0, 204, 255, 0.400) 40%, 
      rgba(0, 204, 255, 0.600) 60%,
      rgba(0, 204, 255, 0.800) 80%, 
      #00ccff 100%  
    ); 
  /* box-shadow: 0px 0px 2px 2px rgba(0, 142, 177, 0.181); */
  animation: loading 3s cubic-bezier(0.90, 0, 0.10, 1) forwards;
  position: relative;
}


/* Keyframes for the progress bar */
@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}



body, header, main, footer {
  margin: 0;
  padding: 0;
  /* font-family: Arial, sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  color: #dddddd;
  background-color: #3d3d3d;
}

/* header {
  background-color: #3d3d3d;
  color: white;
  padding: 20px;
  text-align: center;
} */

main {
  padding: 20px;
}

footer {
  background-color: #3d3d3d;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* Top Divider Line */
.top-divider {
  width: 100%;
  border-top: 2px solid #333; /* Thin, slightly lighter line */
  margin: 20px 0px;
}

.introx {
  font-size: 1.5rem;
  color: #bada55; /* Light green color */
  font: 'Courier';
  font-weight: bold;
  margin-bottom: 0;
}


header {
  /* text-align: center; */
  margin: 10px;
  margin-left: 50px auto;
  padding: 20px;
}


a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
}

a:hover {
  color: #bada55;
  text-decoration: underline;
}